<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InputForm1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>InputForm2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InputForm3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>InputForm4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>InputForm5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MVVM1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MVVM2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MVVM3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MVVM4.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MVVM5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MVVM6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3643E5871E73A45000C74A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3643E5B51E73ED3900C74A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36520B921E738B3800AA6EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3683BF5C1E74104500D386EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3683BF8C1E741A7D00D386EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3684C8C61E73788E002BF67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3684C8E11E737906002BF67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3684C8EF1E73796C002BF67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3684C8FD1E737980002BF67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3684C90B1E737984002BF67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36AE22AE1E73F93D00E77584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
